---
import type { Props } from "@astrojs/starlight/props";
import DefaultContentPanel from "@astrojs/starlight/components/ContentPanel.astro";

const isHomepage = Astro.props.slug === "";
---

{
  isHomepage ? (
    <div class="100vh grid grid-cols-[1fr]">
      <slot />
    </div>
  ) : (
    <DefaultContentPanel {...Astro.props}>
      <slot />
    </DefaultContentPanel>
  )
}
